@font-face {
  font-family: 'MW';
  src: local('MW'),
    url('/fonts/MW.woff2') format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MWB';
  src: local('MWB'),
    url('/fonts/MWB.woff2') format("woff2");
  font-weight: bold;
  font-style: bold;
}
@font-face {
  font-family: 'MWI';
  src: local('MWI'),
    url('/fonts/MWI.woff2') format("woff2");
  font-weight: italic;
  font-style: italic;
}
